/* =======================================================
   FONTE
   ======================================================= */

@font-face {
    font-family: pokemonHollow;
    src: url(font/Pokemon\ Hollow.ttf);
}
@font-face {
    font-family: pokemonSolid;
    src: url(font/Pokemon\ Solid.ttf);
}


/* =======================================================
   GERAL
   ======================================================= */

body{
    margin: 0;
    overflow: hidden;
}

button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
button:focus {
    outline: 0;
}


/* =======================================================
   OVERLAY
   ======================================================= */

.overlay-menu {
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: lightgrey;
    background-image: url(img/Menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay-tutorial {
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(img/Tutorial.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay-vitoria {
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(img/Vitoria.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.overlay-vitoria h1 {
    position: absolute;
    left: 50%;
    top: 100px;
    font-size: 70px;
    font-family: pokemonSolid;
    color: #ffcb05;
    text-shadow: -6px 0 #3a5ca8, 0 1px #3a5ca8, 1px 0 #3a5ca8, 0 -1px #3a5ca8;
}

.overlay-derrota {
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(img/Derrota.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* =======================================================
   BARRA DE PROGRESSO
   ======================================================= */

@keyframes grow {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background: #26323D;
    background-image: radial-gradient(transparent 65%, rgba(black, 0.3));
    font-family: sans-serif;
}
  
.container-progress {
    position: relative;
    width: 25vw;
    top: 45%;
    left: 51%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
}
  
.input-progress {
    display: none;
}
  
.label-progress {
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    background: transparent;
    border-radius: 0.4rem;
    border: 2px solid white;
    overflow: hidden;
    box-shadow: -2px 0 8px 0 rgba(255, 255, 255, 0.6);
}
.label-progress #fill {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #A3E2EF 35%, #4F9CC0);
    height: 100%;
    width: 0%;
    /* animation: grow 2s forwards; */
    box-shadow: 0 0 8px 1px white inset;
}
.label-progress #fill:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    mix-blend-mode: overlay;
    opacity: 0.5;
}
  
.progress {
    display: inline-block;
    color: #4F9CC0;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 0.7rem;
}
.progress:last-child {
    float: right;
}


/* =======================================================
   JOGO
   ======================================================= */

.pontuacao {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 80px;
}

.pontuacao-final {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 400px;
    font-size: 40px;
    font-family: pokemonSolid;
    color: #ffcb05;
    text-shadow: -6px 0 #3a5ca8, 0 1px #3a5ca8, 1px 0 #3a5ca8, 0 -1px #3a5ca8;
}

.tempo {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 30px;
}

.container-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button#play span, button#start span, button.restart span {
    font-family: pokemonSolid;
    font-size: 30px;
    color: #ffcb05;
    text-shadow: -6px 0 #3a5ca8, 0 1px #3a5ca8, 1px 0 #3a5ca8, 0 -1px #3a5ca8;
}
button#play, button#start, button.restart {
    padding: 0;
    width: 25vw;
    border: 5px solid #2f6cb4;
    border-radius: 40px;
    background: #f2f9fa;
}
button#play:hover, button#start:hover, button.restart:hover {
    cursor: pointer;
}

button#start, button.restart {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2;
}

.float-effect {
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
}
.float-effect:hover {
    -webkit-transform:translate(0px,-4px);
    -moz-transform:translate(0px,-4px);
    -ms-transform:translate(0px,-4px);
    -o-transform:translate(0px,-4px);
    transform:translate(0px,-4px);
}


/* =======================================================
   BOTÃO DO SOM
   ======================================================= */

.speaker {
    height: 30px;
    width: 30px;
    top: 20px;
    right: 30px;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    z-index: 3;
}
.speaker span {
    display: block;
    width: 8px;
    height: 8px;
    background: black;
    margin: 11px 0 0 2px;
}
.speaker span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent black transparent transparent;
    border-width: 10px 14px 10px 15px;
    left: -13px;
    top: 5px;
}
.speaker span:before {
    transform: rotate(45deg);
    border-radius: 0 50px 0 0;
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-style: double;
    border-color: black;
    border-width: 7px 7px 0 0;
    left: 18px;
    top: 9px;
    transition: all 0.2s ease-out;
}
.speaker:hover span:before {
    transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
.speaker.mute span:before {
    transform: scale(0.5) translate(-15px, 0) rotate(36deg);
    opacity: 0;
}


/* =======================================================
   ESTRELAS
   ======================================================= */

@keyframes stretch-bounce {
    0% {
      -webkit-transform: scale(1);
    }
    25% {
      -webkit-transform: scale(1.5);
    }
    50% {
      -webkit-transform: scale(0.9);
    }
    75% {
      -webkit-transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
    }
}

.rating {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 350px;
    left: 50%;
    margin: -100px 0 0 -150px;
}
  
.hidden {
    opacity: 0;
}
  
.star {
    display: inline-block;
    margin: 5px;
    font-size: 30px;
    color: whitesmoke;
    position: relative;
}
.star.animate {
    -webkit-animation: stretch-bounce .5s ease-in-out;
    animation: stretch-bounce .5s ease-in-out;
}
.star.hidden {
    opacity: 0;
}
.star:nth-of-type(1), .star:nth-of-type(3) {
    font-size: 75px;
}
.star:nth-of-type(2) {
    font-size: 130px;
}
  
.full:before {
    font-family: fontAwesome;
    display: inline-block;
    content: "\f005";
    position: relative;
    float: right;
    z-index: 2;
}
  
.half:before {
    font-family: fontAwesome;
    content: "\f089";
    position: absolute;
    float: left;
    z-index: 3;
}
  
.star-colour {
    color: #ffd700;
}
  
.selected:before {
    font-family: fontAwesome;
    display: inline-block;
    content: "\f005";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    z-index: 1;
}
.selected.pulse:before {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
}
.selected.is-animated:before {
    transition: 1s ease-out;
}
  
.score {
    font-family: arial;
    font-size: 20px;
    color: green;
    margin-top: 20px;
    margin-left: 50px;
}
  
.score-rating {
    vertical-align: sup;
    top: -5px;
    position: relative;
    font-size: 150%;
}
  
.total {
    vertical-align: sub;
    top: 0px;
    position: relative;
    font-size: 100%;
}
  
.average {
    font-family: arial;
    font-size: 20px;
    color: indianred;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.average .score-average {
    padding-top: 30px;
}