/* =======================================================
   FONTE
   ======================================================= */

@font-face {
    font-family: pokemonHollow;
    src: url(font/Pokemon\ Hollow.ttf);
}
@font-face {
    font-family: pokemonSolid;
    src: url(font/Pokemon\ Solid.ttf);
}


/* =======================================================
   GERAL
   ======================================================= */

body{
    margin: 0;
    overflow: hidden;
}

button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
button:focus {
    outline: 0;
}


/* =======================================================
   OVERLAY
   ======================================================= */

.overlay-menu {
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: lightgrey;
    background-image: url(img/Menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay-tutorial {
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(img/Tutorial.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* =======================================================
   BARRA DE PROGRESSO
   ======================================================= */

@keyframes grow {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background: #26323D;
    background-image: radial-gradient(transparent 65%, rgba(black, 0.3));
    font-family: sans-serif;
}
  
.container-progress {
    position: relative;
    width: 25vw;
    top: 45%;
    left: 51%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
}
  
.input-progress {
    display: none;
}
  
.label-progress {
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    background: transparent;
    border-radius: 0.4rem;
    border: 2px solid white;
    overflow: hidden;
    box-shadow: -2px 0 8px 0 rgba(255, 255, 255, 0.6);
}
.label-progress #fill {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #A3E2EF 35%, #4F9CC0);
    height: 100%;
    width: 0%;
    /* animation: grow 2s forwards; */
    box-shadow: 0 0 8px 1px white inset;
}
.label-progress #fill:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    mix-blend-mode: overlay;
    opacity: 0.5;
}
  
.progress {
    display: inline-block;
    color: #4F9CC0;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 0.7rem;
}
.progress:last-child {
    float: right;
}


/* =======================================================
   JOGO
   ======================================================= */

.pontuacao {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 80px;
}

.tempo {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 30px;
}

.container-menu {
    position: absolute;
    top: 45%;
    left: 39%;
    z-index: 3;
}

button#play span, button#start span {
    font-family: pokemonSolid;
    font-size: 40px;
    color: #ffcb05;
    text-shadow: -3px 0 #3a5ca8, 0 4px #3a5ca8, 3px 0 #3a5ca8, 0 -3px #3a5ca8;
}
button#play, button#start {
    padding: 0;
    width: 25vw;
    border: 5px solid #2f6cb4;
    border-radius: 40px;
    background: #f2f9fa;
}
button#play:hover, button#start:hover {
    cursor: pointer;
}

button#start {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2;
}

.float-effect {
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
}
.float-effect:hover {
    -webkit-transform:translate(0px,-4px);
    -moz-transform:translate(0px,-4px);
    -ms-transform:translate(0px,-4px);
    -o-transform:translate(0px,-4px);
    transform:translate(0px,-4px);
}


/* =======================================================
   BOTÃO DO SOM
   ======================================================= */

.speaker {
    height: 30px;
    width: 30px;
    top: 20px;
    right: 30px;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    z-index: 2;
}
.speaker span {
    display: block;
    width: 8px;
    height: 8px;
    background: black;
    margin: 11px 0 0 2px;
}
.speaker span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent black transparent transparent;
    border-width: 10px 14px 10px 15px;
    left: -13px;
    top: 5px;
}
.speaker span:before {
    transform: rotate(45deg);
    border-radius: 0 50px 0 0;
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-style: double;
    border-color: black;
    border-width: 7px 7px 0 0;
    left: 18px;
    top: 9px;
    transition: all 0.2s ease-out;
}
.speaker:hover span:before {
    transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
.speaker.mute span:before {
    transform: scale(0.5) translate(-15px, 0) rotate(36deg);
    opacity: 0;
}